<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamephone.acs.dao.GameRoleMapper">

	<resultMap type="GameRole" id="gameRoleResultMap">
		<id property="id" column="ID" />
		<result property="userId" column="USER_ID" />
		<result property="gameId" column="GAME_ID" />
		<result property="serverId" column="SERVER_ID" />
		<result property="serverName" column="SERVER_NAME" />
		<result property="roleId" column="ROLE_ID" />
		<result property="roleName" column="ROLE_NAME" />
		<result property="grade" column="GRADE" />
		<result property="gradeName" column="GRADE_NAME" />
	</resultMap>
	
	<select id="getGameRole" parameterType="GameRole" resultType="GameRole" resultMap="gameRoleResultMap">
		select * from GAME_ROLE g where g.USER_ID=#{userId} and g.GAME_ID=#{gameId} and g.SERVER_ID=#{serverId} and g.ROLE_ID=#{roleId}
	</select>
	
	<insert id="createGameRole" parameterType="GameRole"  useGeneratedKeys="true" keyProperty="id">
		insert into `GAME_ROLE`
		(
		  `USER_ID`,
		  `GAME_ID`,
		  `SERVER_ID`,
		  `SERVER_NAME`,
		  `ROLE_ID`,
		  `ROLE_NAME`
		) 
		VALUES (
		  #{userId},
		  #{gameId},
		  #{serverId},
		  #{serverName},
		  #{roleId},
		  #{roleName}
		)
	</insert>
	
</mapper>
