<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamephone.billing.dao.OrderMapper">
  
  <resultMap id="orderResultMap" type="Order">
    <result column="ID" property="id" />
    <result column="CP_ID" property="cpId" />
    <result column="USER_ID" property="userId" />
    <result column="GAME_ID" property="gameId" />
    <result column="GAME_SERVER_ID" property="gameServerId"/>
    <result column="AMOUNT" property="amount" />    
    <result column="PAY_SUCCESS" property="paySuccess" />
    <result column="ORDER_ID" property="orderId"/>
    <result column="TRADE_NO" property="tradeNo"/>
    <result column="RESULT_CODE" property="resultCode"/>
    <result column="RESULT_MSG" property="resultMsg"/>
    <result column="RESULT_DATE" property="resultDate" />
    <result column="CREATED_DATE" property="createdDate" />
    <result column="CARD_NO" property="cardNo"/>
    <result column="CARD_PWD" property="cardPwd"/>
    <result column="AUTH_CODE" property="authCode"/>
    <result column="PRODUCT_ID" property="productId"/>
    <result column="TYPE" property="type"/>
    <result column="PRO_NO" property="proNo"/>
  </resultMap>
  
  <insert id="createOrder" parameterType="Order"  useGeneratedKeys="true" keyProperty="id">
    insert into ORDER_LOG (CP_ID, USER_ID, GAME_ID, GAME_SERVER_ID,  ORDER_ID, CREATED_DATE, EXT_INFO, AMOUNT, CARD_NO, CARD_PWD, AUTH_CODE, PRODUCT_ID, TYPE)
    values (#{cpId}, #{userId}, #{gameId}, #{gameServerId}, #{orderId}, now(), #{extInfo}, #{amount}, #{cardNo}, #{cardPwd}, #{authCode}, #{productId}, #{type})
  </insert>
  
  <!-- 为了避免重复更新，只能更新未支付成功的 -->
  <update id="updateOrder" parameterType="Order">
	update ORDER_LOG
    set RESULT_DATE = now()
    <if test="amount != null and amount != 0">, AMOUNT = #{amount}</if>
    <if test="paySuccess != null">,PAY_SUCCESS = #{paySuccess}</if>
    <if test="orderId != null">, ORDER_ID = #{orderId}</if>
    <if test="tradeNo != null">, TRADE_NO = #{tradeNo}</if>
    <if test="resultCode != null">,	RESULT_CODE = #{resultCode}</if>
    <if test="resultMsg != null">,	RESULT_MSG = #{resultMsg}</if>
    <if test="authCode != null">, AUTH_CODE = #{authCode}</if>
    <if test="productId != null">, PRODUCT_ID = #{productId}</if>
    <if test="proNo != null">,PRO_NO = #{proNo}</if>
    <if test="cardNo != null">,	CARD_NO = #{cardNo}</if>
    <if test="cardPwd != null">, TYPE = #{cardPwd}</if>
    <if test="type != null">,TYPE = #{type} </if>
    where ID = #{id} and ORDER_ID=#{orderId} and (PAY_SUCCESS is null or PAY_SUCCESS != 1)
  </update>  
  
    <select id="getOrderById" resultMap="orderResultMap" resultType="Order" parameterType="Integer">
    select  ID,  USER_ID,  CP_ID,  GAME_ID,  GAME_SERVER_ID,  CARD_NO,  CARD_PWD,  AMOUNT,  PAY_SUCCESS, ORDER_ID,
  			TRADE_NO,  RESULT_CODE,  RESULT_MSG,  RESULT_DATE,  CREATED_DATE,  EXT_INFO,  AUTH_CODE,  TYPE,  PRODUCT_ID, PRO_NO
    from ORDER_LOG where ID = #{id} and (PAY_SUCCESS is null or PAY_SUCCESS != 1)
  </select>
  
  <select id="getOrderByTranNo" resultMap="orderResultMap" resultType="Order" parameterType="java.util.HashMap">
 	 select ID,  USER_ID,  CP_ID,  GAME_ID,  GAME_SERVER_ID,  CARD_NO,  CARD_PWD,  AMOUNT,  PAY_SUCCESS, ORDER_ID,
  			TRADE_NO,  RESULT_CODE,  RESULT_MSG,  RESULT_DATE,  CREATED_DATE,  EXT_INFO,  AUTH_CODE,  TYPE,  PRODUCT_ID, PRO_NO
    from ORDER_LOG where TRADE_NO = #{tradeNo} and PROMPT_CHANNEL_ID=#{channelId} and  PAY_SUCCESS = 1
  </select>
  
  <select id="getOrderByAuthCode" resultMap="orderResultMap" resultType="Order" parameterType="java.util.HashMap">
 	  select ID,  USER_ID,  CP_ID,  GAME_ID,  GAME_SERVER_ID,  CARD_NO,  CARD_PWD,  AMOUNT,  PAY_SUCCESS, ORDER_ID,
  			TRADE_NO,  RESULT_CODE,  RESULT_MSG,  RESULT_DATE,  CREATED_DATE,  EXT_INFO,  AUTH_CODE,  TYPE,  PRODUCT_ID, PRO_NO
    from ORDER_LOG where AUTH_CODE = #{authCode} and (PAY_SUCCESS is null or PAY_SUCCESS != 1)
  </select>
  
  <select id="getOrderByOrderId" resultMap="orderResultMap" resultType="Order" parameterType="java.lang.String">
   select ID,  USER_ID,  CP_ID,  GAME_ID,  GAME_SERVER_ID,  CARD_NO,  CARD_PWD,  AMOUNT,  PAY_SUCCESS, ORDER_ID,
  			TRADE_NO,  RESULT_CODE,  RESULT_MSG,  RESULT_DATE,  CREATED_DATE,  EXT_INFO,  AUTH_CODE,  TYPE,  PRODUCT_ID, PRO_NO
    from ORDER_LOG where ORDER_ID = #{orderId} and (PAY_SUCCESS is null or PAY_SUCCESS != 1)
  </select>

</mapper>