<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:flex="http://www.springframework.org/schema/flex"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<!-- 放在mvc:annotation-driven之前 否则@ResponseBody 返回中文乱码及json *Could not find acceptable representation* -->
    <bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >  
        <property name="messageConverters">  
             <list>  
                 <bean class = "org.springframework.http.converter.StringHttpMessageConverter">  
                    <property name = "supportedMediaTypes">  
                         <list>  
                            <value>text/plain;charset=UTF-8</value>  
                        </list>  
                   </property>
                </bean>  
             	<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>   
            </list>  
       </property>  
   </bean>
   <!-- 自定义jsonview输入 new ModelAndView("jsonView")-->
   <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
	 <property name="order" value="1" />
	</bean>
   <bean name="jsonView" class="com.gamephone.common.web.JsonView">
   	<property name="onlineUserCache" ref="onlineUserCache" />
   </bean>
   <!-- end -->
   
  <mvc:annotation-driven />
  <context:component-scan base-package="com.gamephone.billing.*"  use-default-filters="false">
     <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
     <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
  </context:component-scan>
	<!-- 导入属性配置文件 -->
	<context:property-placeholder location="classpath*:/billing.properties,classpath*:/common.properties" />

	<bean class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			 <value>messages</value>
		</property>
	</bean>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<bean id="billingExceptionHandler" class="com.gamephone.billing.exception.BillingExceptionHandler"/>
</beans>