<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamephone.acs.dao.GameMapper">

	<resultMap type="Game" id="gameResultMap">
		<result column="ID" property="id" />
		<result column="CP_ID" property="cpId" />
		<result column="SEQ_NUM" property="seqNum" />
		<result column="NAME" property="name" />
		<result column="STATUS" property="status" />
		<result column="CREATED_DATE" property="createdDate" />
		<result column="SECRET_KEY" property="secretKey" />
		<result column="NOTIFY_KEY" property="notifyKey" />
		<result column="NOTIFY_URL" property="notifyUrl" />
	</resultMap>
  
	<select id="getGameTOById" parameterType="int" resultType="Game" resultMap="gameResultMap">
		SELECT * from GAME where id=#{id}
  	</select>
  	
  	<select id="getAllGames" resultType="Game" resultMap="gameResultMap">
  		select * from GAME
  	</select>
</mapper>
